.border {
    border: 2px;
    margin: 5px;
    border-radius: 10px;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.item-align {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}